<?xml version="1.0"?>
<config>
  <sections>
    <customercreditlimit module="customercreditlimit">
      <tab>sales</tab>
      <label>Customer Credit Limit</label>
      <sort_order>9001</sort_order>
      <show_in_default>1</show_in_default>
      <show_in_website>0</show_in_website>
      <show_in_store>0</show_in_store>
      <groups>
        <introduction>
          <label>Getting Started</label>
          <expanded>1</expanded>
          <sort_order>0</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>0</show_in_website>
          <show_in_store>0</show_in_store>
          <comment><![CDATA[
            <p>
              Thank you for using «Customer Credit Limit». To configure this extension, follow the list below or watch our setup guide video:
            </p>
            <iframe width="560" height="315" src="//www.youtube.com/embed/L_L5kbFxi-E?rel=0" frameborder="0" allowfullscreen></iframe>
            <ul style="list-style:decimal;margin:20px 20px">
              <li>
                In the first field, set a credit limit per customer. This is the maximum amount of open invoices a customer can have before the selected payment methods will be blocked.
              </li>
              <li>
                In the second field, select which payment methods should be blocked once the credit limit in the first field has been reached. The customer then won't be able to select this payment method again until his credit been lowered below the maximum specified in the first field, by paying some of his open invoices.
              </li>
            </ul>
            <p>
              If you have any questions or feel that something doesn't work as it should, feel free to contact us at <a href="mailto:info@mobweb.ch">info@mobweb.ch</a>.
            </p>
          ]]></comment>
        </introduction>
        <settings module="customercreditlimit">
          <label>Payment Method Blocking Settings</label>
          <expanded>1</expanded>
          <sort_order>1</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>0</show_in_website>
          <show_in_store>0</show_in_store>
          <fields>
              <maximum_customer_due>
                  <label>Credit Limit per Customer</label>
                  <validate>required-entry</validate>
                  <frontend_type>text</frontend_type>
                  <sort_order>1</sort_order>
                  <show_in_default>1</show_in_default>
                  <show_in_website>0</show_in_website>
                  <show_in_store>0</show_in_store>
                  <comment><![CDATA[
                      Enter the credit limit per customer. Customers exceeding this credit limit will not be able to use the payment method(s) selected in the next field. Please enter this amount in your store's <strong>base currency</strong>. Your base currency is set under Configuration -> Currency Setup -> Base Currency.
                  ]]></comment>
              </maximum_customer_due>
              <blocked_payment_methods translate="label comment">
                <label>Blocked Payment Methods</label>
                <comment><![CDATA[
                  Select one or multiple payment methods to block when the customer reaches the credit limit.
                ]]></comment>
                <validate>required-entry</validate>
                <frontend_type>Multiselect</frontend_type>
                <!-- TODO: Get just the active methods? -->
                <source_model>adminhtml/system_config_source_payment_allowedmethods</source_model>
                <sort_order>10</sort_order>
                <show_in_default>1</show_in_default>
                <show_in_website>0</show_in_website>
                <show_in_store>0</show_in_store>
              </blocked_payment_methods>
          </fields>
        </settings>
      </groups>
    </customercreditlimit>
  </sections>
</config>