<?xml version="1.0"?>
<config>
    <modules>
        <MobWeb_MaximumCustomerDue>
            <version>0.0.1</version>
        </MobWeb_MaximumCustomerDue>
    </modules>
    <global>
        <helpers>
            <maximumcustomerdue>
                <class>MobWeb_MaximumCustomerDue_Helper</class>
            </maximumcustomerdue>
        </helpers>
    </global>
</config>