<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <MobWeb_CustomerCreditLimit>
            <version>0.2.0</version>
        </MobWeb_CustomerCreditLimit>
    </modules>
    <global>
        <resources>
            <customercreditlimit_setup>
                <setup>
                    <module>MobWeb_CustomerCreditLimit</module>
                    <class>Mage_Customer_Model_Entity_Setup</class>
                </setup>
            </customercreditlimit_setup>
        </resources>
        <models>
            <customercreditlimit>
                <class>MobWeb_CustomerCreditLimit_Model</class>
            </customercreditlimit>
        </models>
        <helpers>
            <customercreditlimit>
                <class>MobWeb_CustomerCreditLimit_Helper</class>
            </customercreditlimit>
        </helpers>
        <blocks>
            <customercreditlimit>
                <class>MobWeb_CustomerCreditLimit_Block</class>
            </customercreditlimit>
        </blocks>
    </global>
    <frontend>
        <events>
            <payment_method_is_active>
                <observers>
                    <loginredirect>
                        <type>singleton</type>
                        <class>customercreditlimit/observer</class>
                        <method>paymentMethodIsActive</method>
                    </loginredirect>
                </observers>
            </payment_method_is_active>
        </events>
        <layout>
            <updates>
                <MobWeb_CustomerCreditLimit>
                    <file>mobweb_customercreditlimit.xml</file>
                </MobWeb_CustomerCreditLimit>
            </updates>
        </layout>
    </frontend>
</config>