<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <MobWeb_CustomerCreditLimit>
            <version>0.2.0</version>
        </MobWeb_CustomerCreditLimit>
    </modules>
    <global>
        <helpers>
            <customercreditlimit>
                <class>MobWeb_CustomerCreditLimit_Helper</class>
            </customercreditlimit>
        </helpers>
    </global>
</config>